/*-- scss:defaults --*/

$link-color: #f25f70;
$toc-color: #f25f70;

/*-- scss:rules --*/

p code, li code {
  color: #2761E3;           /* or #000080 */
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  color: #2761E3;
}

a:hover {
  color: #f25f70;
}

figcaption {
  margin: auto;
  text-align: center;
}