/*-- scss:defaults --*/

$link-color: #f25f70;
$toc-color: #f25f70;

/*-- scss:rules --*/

p code, li code {
  color: #2761E3;
  background-color: #f8f9fa;
}

a:hover {
  color: #f25f70;
}

figcaption {
  margin: auto;
  text-align: center;
}